body {
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.titreH1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
#titrePrincipal {
  font-size: 80px;
  color: rgb(11, 13, 73);
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  background: oldlace;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}
#image {
  position: absolute;
  left: 50px;
}
#affiche,
#img {
  text-align: center;
  margin: auto;
}
input {
  display: inline-block;
  margin-top: 10px;
  border-radius: 5px;
  width: 200px;
}
form {
  text-align: center;
  margin: auto;
}
#test1 {
  margin: auto;
  border-radius: 10px;
  padding: 50px;
  width: 200px;
}
button {
  margin-bottom: 10px;
  width: 210px;
  height: 30px;
  border-radius: 5px;
  background: rgb(11, 13, 73);
  color: white;
}
#present {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  width: 200px;
}
.back {
  margin-bottom: 50px;
}
img {
  width: 200px;
}
.info {
  width: 200px;
}
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  width: 210px;
  display: flex;
  background: rgba(156, 145, 145, 0.3);
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 2px;
}
#image {
  width: 100px;
}
#test1 {
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 5px 5px rgb(27, 26, 26);
  display: none;
  margin: 0 auto;
}
p {
  font-size: 20px;
  font-weight: 400;
}
label {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
